
@{
    ViewBag.Title = "Inicio";
}

<h2>Inicio</h2>



<div id="calender"></div>



<div class="modal fade" id="FormularioEventos" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title"><span id="TituloE"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="Codigo">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Título del evento:</label>
                        <input type="text" id="Titulo" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha de inicio:</label>

                        <div class="input-group" data-autoclose="true">
                            <input type="date" id="FechaInicio" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-md-6" id="TituloHoraInicio">
                        <label>Hora de inicio:</label>

                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" id="HoraInicio" value="" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha de fin:</label>

                        <div class="input-group" data-autoclose="true">
                            <input type="date" id="FechaFin" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-md-6" id="TituloHoraFin">
                        <label>Hora de fin:</label>

                        <div class="input-group clockpicker" data-autoclose="true">
                            <input type="text" id="HoraFin" value="" class="form-control" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-8">
                    <label>Descripción:</label>
                    <textarea id="Descripcion" rows="7" width="500" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Color de fondo:</label>
                    <input type="color" value="" id="Color" class="form-control" style="height:56px; width:115px">
                </div>
                <div class="input-group">
                    <select name="select" size="4" onchange="cambiarColor(value);" class="form-control" style="width: 115px ">
                      
                        <option value="#219fe1">Agendado</option>
                        <option value="#8b22a5">Confirmado</option>
                        <option value="#e37575">No Atendido</option>
                        <option value="#40b87d">Atendido</option>
                    </select>
                </div>
                             


            </div>
            <div class="modal-footer">

                <button type="button" id="BotonAgregar" class="btn btn-success">Agregar</button>
                <button type="button" id="BotonModificar" class="btn btn-success">Guardar</button>
                <button type="button" id="BotonBorrar" class="btn btn-success">Borrar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>



<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{

    @*<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>*@
    <script src="//cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/fullcalendar.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/fullcalendar@3.10.2/dist/locale-all.js"></script>

    <script>


        function cambiarColor(color) {
            //alert(color + " " + idElemento);
            //var el = document.getElementById(idElemento);
            $('#Color').val(color);
            //alert(el.value);
        };

        function MostrarFormulario(info) {
            $('#BotonAgregar').hide();
            $('#BotonBorrar').hide();
            $('#BotonModificar').show();

            if (info.id > 0) {
                $('#BotonBorrar').show();
            }

            $('#Codigo').val(info.id);
            $('#TituloE').text(info.id + " " + info.title + " " + info.start);
            $('#Titulo').val(info.title);
            $('#FechaInicio').val(moment(info.start).format("YYYY-MM-DD"));
            $('#FechaFin').val(moment(info.end).format("YYYY-MM-DD"));
            $('#HoraInicio').val(moment(info.start).format("HH:mm"));
            $('#HoraFin').val(moment(info.end).format("HH:mm"));
            $('#Descripcion').val(info.description);
            $('#Color').val(info.color);

            $("#FormularioEventos").modal();

        };

        function Cal(evento) {

            MostrarFormulario(evento);
            //$('#myModal #eventTitle').text(event.title);
            //var $description = $('<div/>');
            //$description.append($('<p/>').html('<b>Start:</b>' + event.start.format("DD-MMM-YYYY HH:mm a")));
            //if (event.end != null) {
            //    $description.append($('<p/>').html('<b>End:</b>' + event.end.format("DD-MMM-YYYY HH:mm a")));
            //}
            //$description.append($('<p/>').html('<b>Description:</b>' + event.description));
            //$('#myModal #pDetails').empty().html($description);
            //$('#myModal').modal();
        };


        $('#BotonModificar').click(function () {

            let registro = EventoFormulario();
            //alert('registro ' + registro);

            SetEventos(registro);
            $("#FormularioEventos").modal('hide');
            location.reload();
        });


        $('#BotonBorrar').click(function () {

            let registro = EventoFormulario();
            var opcion = confirm("Desea borrar evento " + registro.titulo + " " + registro.descripcion);
            if (opcion == true) {
                //alert('evento borrado');
                DelEventos(registro);
                $("#FormularioEventos").modal('hide');
                location.reload();
            };



        });


        function DelEventos(n) {
            $.ajax({
                type: "POST",
                url: '/Calendario/DelEventos',
                data: n,
                success: function (n) {
                    alert('Borrado confirmado ');
                },
                error: function (error) {
                    alert('Failed borrado ' + n);
                }
            })

        };

        function SetEventos(eve) {

            //alert('envia json post ' + eve);
            $.ajax({
                type: "POST",
                url: '/Calendario/SetEventos',
                data: eve,
                success: function (eve) {
                    alert('Changed ');
                },
                error: function (error) {
                    alert('Failed ' + error);
                }
            })

        };

        function EventoFormulario() {
            let Evento = {
                id: $('#Codigo').val(),
                titulo: $('#Titulo').val(),
                descripcion: $('#Descripcion').val(),
                inicio: $('#FechaInicio').val() + ' ' + $('#HoraInicio').val(),
                fin: $('#FechaFin').val() + ' ' + $('#HoraFin').val(),
                color: $('#Color').val(),
            };
            return Evento;
        };

        function GetEventos() {

        };



        $(document).ready(function () {
            var eventos = [];
            $.ajax({
                type: "GET",
                url: "/Calendario/GetEventos",
                success: function (data) {
                    $.each(data, function (i, v) {
                        eventos.push({
                            id: v.id,
                            title: v.title,
                            description: v.description,
                            start: moment(v.start),
                            end: v.end != null ? moment(v.end) : null,
                            color: v.color
                        });
                    })

                    GenerateCalender();
                },
                error: function (error) {
                    alert('failed');
                }
            });

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    theme: 'bootstrap3',
                    locale: 'es-do',
                    defaultView: 'basicWeek',
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    firstDay: 1,
                    eventLimit: true,
                    //eventColor: '#378006',
                    events: eventos,
                    eventClick: function (calEvent, jsEvent, view) {
                        Cal(calEvent);
                    },

                    dayClick: function (calEvent, date) {
                        EventoNuevo = {
                            title: 'Nuevo Evento',
                            description: 'Detalle',
                            start: calEvent,
                            end: calEvent,
                            color: '#219fe1'
                        }
                        //alert(calEvent);
                        Cal(EventoNuevo);
                    }


                })
            }
        })






    </script>
}